* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-color: #f1f4f8;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 30%;
  border: 1px solid red;
  min-height: 4rem;
}