* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

.background {
  background-color: #f1f4f8;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 30%;
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  gap: .7rem;
}

.company-header{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: .8rem;
}

h4 {
  font-size: 28px;
  color: #042f62;
}

.card{
  display: flex;
  gap: .5rem;
  flex-direction: column;
  width: 100%;
  min-height: 7rem;
  background-color: white;
  box-shadow: 0px 8px 16px -4px rgba(22, 34, 51, 0.08);
  border-radius: 4px;
  padding: 32px 48px;
}

.forgot-pass {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.forgot-pass p {
  font-size: 16px;
  color: #2f445b;
}

.input-container {
  /*display: flex;*/
  /*border: 1px solid blue;*/
  width: 100%;
  flex-direction: column;
  gap: .7rem;
}

input {
  padding: 20px 24px;
  width: 100%;
}

input::placeholder{
  font-size: 16px;
}

.submit-button {
  width: 100%;

}

.submit-button button {
  padding: 20px 24px;
  width: 100%;
  background-color: #095fc3;
  color: white;
  border: none;
}